@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
html a {
  color: #333; }
  html a :hover {
    color: #333; }
html body {
  font-family: "Libre Baskerville", serif;
  color: #333;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  min-height: 100%; }

.clear-day {
  background-image: url("../img/clear-day.gif");
  color: #333; }

.clear-night {
  background-image: url("../img/clear-night.gif");
  color: #fff; }
  .clear-night a {
    color: #fff; }
  .clear-night table {
    color: #fff; }

.cloudy-day {
  background-image: url("../img/cloudy-day.gif");
  color: #fff; }
  .cloudy-day a {
    color: #fff; }
  .cloudy-day table {
    color: #fff; }

.cloudy-night {
  background-image: url("../img/cloudy-night.gif");
  color: #fff; }
  .cloudy-night a {
    color: #fff; }
  .cloudy-night table {
    color: #fff; }

.rainy-day {
  background-image: url("../img/rainy-day.gif");
  color: #fff; }
  .rainy-day a {
    color: #fff; }
  .rainy-day table {
    color: #fff; }

.rainy-night {
  background-image: url("../img/rainy-night.gif");
  color: #fff; }
  .rainy-night a {
    color: #fff; }
  .rainy-night table {
    color: #fff; }

.thunderstorm-day {
  background-image: url("../img/thunderstorm-day.gif");
  color: #fff; }
  .thunderstorm-day a {
    color: #fff; }
  .thunderstorm-day table {
    color: #fff; }

.thunderstorm-night {
  background-image: url("../img/thunderstorm-night.gif");
  color: #fff; }
  .thunderstorm-night a {
    color: #fff; }
  .thunderstorm-night table {
    color: #fff; }

header {
  margin: 30px 0;
  text-align: center;
  backdrop-filter: blur(10px); }
  header .wrapper {
    position: relative;
    display: grid;
    place-items: center;
    height: 50px; }
    header .wrapper .form-control {
      width: 300px; }
    header .wrapper .form-select {
      width: 300px;
      z-index: 100;
      overflow-y: hidden; }

.container {
  margin-bottom: 10px; }
  .container .row .weather-now {
    margin-bottom: 40px; }
    .container .row .weather-now .sumary h2 {
      font-size: 70px; }
      .container .row .weather-now .sumary h2 #unused-unit {
        font-size: 15px; }
        .container .row .weather-now .sumary h2 #unused-unit a {
          text-decoration: none; }
    .container .row .weather-now .details tbody tr {
      line-height: 3; }
      .container .row .weather-now .details tbody tr td:first-of-type {
        padding-right: 30px; }
  .container .row .forecast-5 {
    font-size: 15px;
    margin-bottom: 20px; }
    .container .row .forecast-5 .forecast-table {
      overflow: auto; }
      .container .row .forecast-5 .forecast-table table {
        text-align: center; }
  .container .row .forecast-30 {
    font-size: 10px;
    overflow: scroll; }

@media (min-width: 1024px) {
  .container .row .weather-now {
    display: flex;
    justify-content: space-between; }
    .container .row .weather-now .details {
      margin-left: 10px; } }
footer {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  margin-top: 15px;
  background-color: #212529;
  color: white;
  font-size: 12px; }

/*# sourceMappingURL=main.css.map */
