html {
    a {
        color: #333;
         :hover {
            color: #333;
        }
    }
    body {
        font-family: $gfont;
        color: #333;
        //background-image: url("../img/clear-day.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        min-height: 100%;
    }
}

.clear-day{
    background-image: url("../img/clear-day.gif");
    color: #333;
}

.clear-night{
    background-image: url("../img/clear-night.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}

.cloudy-day{
    background-image: url("../img/cloudy-day.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}

.cloudy-night{
    background-image: url("../img/cloudy-night.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}

.rainy-day{
    background-image: url("../img/rainy-day.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}

.rainy-night{
    background-image: url("../img/rainy-night.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}

.thunderstorm-day{
    background-image: url("../img/thunderstorm-day.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}

.thunderstorm-night{
    background-image: url("../img/thunderstorm-night.gif");
    color: #fff;
    a{
        color: #fff;
    }
    table{
        color: #fff;
    }
}