.container {
    .row {
        .weather-now {
            margin-bottom: 40px;
            .sumary {
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                // float: left;
                h2 {
                    font-size: 70px;
                    #unused-unit {
                        font-size: 15px;
                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
            .details {
                // float: right;
                // margin-right: 30px;
                tbody {
                    tr {
                        line-height: 3;
                        td:first-of-type {
                            padding-right: 30px;
                        }
                    }
                }
            }
        }
        .forecast-5 {
            font-size: 15px;
            margin-bottom: 20px;
            .forecast-table {
                overflow: scroll;
                table {
                    text-align: center;
                }
            }
        }
        .forecast-30 {
            font-size: 10px;
            overflow: scroll;
        }
    }
}

@media (min-width: 1024px) {
    .container {
        .row {
            .weather-now {
                display: flex;
                .sumary {
                    justify-content: right;
                }
                .details {
                    justify-content: left;
                }
            }
        }
    }
}