@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
$gfont: 'Libre Baskerville', serif;
$font-color: #fff;
$clear-d: #333;
$clear-n: #fff;
$cloudy-d: #fff;
$cloudy-n: #fff;
$misty-d: #333;
$misty-n: #fff;
$rainy-d: #fff;
$rainy-n: #fff;
$snow-d: #fff;
$snow-n: #73edfd;
$thunderstorm-d: #fff;
$thunderstorm-n: #fff;